<ul class="bookmarks">
  <li>
    <a rel="nofollow" target="_blank" title="Add to Del.isio.us"
       href="http://del.icio.us/post?url={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to Del.isio.us" title="Add to Del.isio.us" src="/static/delicious.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to digg"
       href="http://digg.com/submit?phase=2&url={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to digg" title="Add to digg" src="/static/digg.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to DZone"
       href="http://www.dzone.com/links/add.html?phase=2&url={{ url }}&description={{ post.quoted_title }}&title={{ post.quoted_title}}">
      <img alt="Add to DZone" title="Add to DZone" src="/static/dzone.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Facebook"
       href="http://www.facebook.com/sharer.php?u={{ url }}">
      <img alt="Add to Facebook" title="Add to Facebook" src="/static/facebook.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Google Bookmarks"
       href="http://www.google.com/bookmarks/mark?op=edit&output=popup&bkmk={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to Google Bookmarks" title="Add to Google Bookmarks" src="/static/google.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to reddit"
       href="http://reddit.com/submit?url={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to reddit" title="Add to reddit" src="/static/reddit.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Slashdot"
       href="http://slashdot.org/bookmark.pl?url={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to Slashdot" title="Add to Slashdot" src="/static/slashdot.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Stumble Upon"
       href="http://www.stumbleupon.com/submit.php?url={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to Stumble Upon" title="Add to Stumble Upon" src="/static/stumbleupon.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Squidoo"
       href="http://www.squidoo.com/lensmaster/bookmark?{{ url }}">
      <img alt="Add to Squidoo" title="Add to Squidoo" src="/static/squidoo.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Spurl"
       href="http://www.spurl.net/spurl.php?url={{ url }}&title={{ post.quoted_title }}">
      <img alt="Add to Spurl" title="Add to Spurl" src="/static/spurl.png" />
    </a>
  </li>

  <li>
    <a rel="nofollow" target="_blank" title="Add to Technorati"
       href="http://www.technorati.com/faves?add={{ url }}">
      <img alt="Add to Technorati" title="Add to Technorati" src="/static/technorati.png" />
    </a>
  </li>

</ul>
