{% extends "base.html" %}

{% block main %}
  <form action="" method="post" class="post-form">
    <label for="post_title">Title</label>
    <input type="text" name="post_title" id="post_title" class="text-field" value="{{ post_title }}" />

    <label for="post_body">Body</label>
    <textarea id="post_body" name="post_body" class="text-field">{{ post_body }}</textarea>

    <label for="post_tags">Tags</label>
    <input type="text" name="post_tags" id="post_tags" class="text-field" value="{{ post_tags }}" />

    <div>
      <input type="submit" value="Save" name="submit" />
    </div>
  </form>
{% endblock %}
